<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="'/clientes'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="form" class="content-form">
    <ion-item appearance="legacy">
      <ion-label position="floating">Nome</ion-label>
      <ion-input name="name" type="text" formControlName="name" placeholder="Nome"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="form.get('name').touched && form.get('name').errors?.required">
      Campo obrigatório
    </span>

    <ion-item appearance="legacy">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="form.get('email').touched && form.get('email').errors?.required">
      Campo obrigatório
    </span>
    <span class="error ion-padding" *ngIf="form.get('email')?.value && form.get('email').errors?.email">
      E-mail inválido
    </span>

    <ion-item appearance="legacy">
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" formControlName="cpf"  [brmasker]="{mask: '000.000.000-00', type:'num', len: 14}" placeholder="CPF"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="form.get('cpf').touched && form.get('cpf').errors?.required">
      Campo obrigatório
    </span>
    <span class="error ion-padding" *ngIf="form.get('cpf').touched && form.get('cpf').errors?.message">
      {{form.get('cpf').errors?.message}}
    </span>

    <ion-item appearance="legacy">
      <ion-label position="floating">Sexo</ion-label>
      <ion-select formControlName="gender" placeholder="Sexo">
        <ion-select-option value="Feminino"> Feminino </ion-select-option>
        <ion-select-option value="Masculino"> Masculino </ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="form.get('gender').touched && form.get('gender').errors?.required">
      Campo obrigatório
    </span>

    <div class="action">
      <ion-button [disabled]="form.invalid" (click)="handleSaveOrUpdate()" expand="block">Slavar</ion-button>
      <ion-button expand="block" color="light" routerLink="/clientes">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
