<!-- <footer>
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <ion-fab-button ion-fab color="primary" routerLink="cadastrar">
          <ion-icon>add</ion-icon>
        </ion-fab-button>
      </div>

      <div class="button-container">
        <ion-fab-button ion-fab color="warn" (click)="handleDelete()">
          <ion-icon>delete</ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</footer> -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="cadastrar">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
